/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "dashboard";
@import "learning_goals";


// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs: 480px !default;

//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min: $screen-xs !default;

//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone: $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;

//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet: $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;

//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop: $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;

//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop: $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: $screen-sm-min - 1 !default;
$screen-sm-max: $screen-md-min - 1 !default;
$screen-md-max: $screen-lg-min - 1 !default;

.hidden {
  display: none;
}

@mixin rowMachine($numPerRow, $margin) {
  width: (100% - ($numPerRow - 1) * $margin) / $numPerRow;

  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }

  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
    margin-bottom: 25px;
  }
}

.row-card {
  @include rowMachine(5, 2%);

  float: left;

  progress {
    border-radius: 0;
  }

  @media (max-width: 1200px) {
    @include rowMachine(4, 2%);
  }

  @media (max-width: 900px) {
    @include rowMachine(3, 4%);
  }

  @media (max-width: 700px) {
    @include rowMachine(2, 4%);
  }

  @media (max-width: 500px) {
    @include rowMachine(1, 4%);
  }
}

.materials {
  .row-card {
    @include rowMachine(3, 2%);

    float: left;

    progress {
      border-radius: 0;
    }

    @media (max-width: 1200px) {
      @include rowMachine(3, 2%);
    }

    @media (max-width: 900px) {
      @include rowMachine(2, 4%);
    }

    @media (max-width: 700px) {
      @include rowMachine(1, 4%);
    }

    @media (max-width: 500px) {
      @include rowMachine(1, 4%);
    }
  }
}

.learning-goal {
  .content {
    min-height: 100px;
  }

/*  .card-header-icon {*/
    //display: none;
  //}

  //&.card:hover {
    //.card-header-icon {
      //display: block;
    //}
  /*}*/
}

.materials {
  .card {
    min-width: 250px;
  }
}

.learning-nav {
  padding: 3.5rem 1.5rem 0;
}

.materials-nav {
  padding: 0rem 1.5rem 0;
}

.learning-goals {
  padding: 2rem 1.5rem 3.5rem;
}
