// Place all the styles related to the LearningGoals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.learning-goals {
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-gap: 0.5em;
}

.goal-button {
  float: right;
  margin-left: 5px;
  cursor: pointer;
}

.panel-heading {
  overflow: hidden;
}

.progress-container {
  margin: 1rem;
}

h4 {
  overflow: hidden;
}

.row-card {
  height: max-content
  progress {
    border-radius: 0;
    padding: 2rem;
  }
}

.learning-goal {
  .content {
    min-height: 100px;
  }

/*  .card-header-icon {*/
    //display: none;
  //}

  //&.card:hover {
    //.card-header-icon {
      //display: block;
    //}
  /*}*/
}

.learning-nav {
  padding: 3.5rem 1.5rem 0;
}

.learning-goals {
  padding: 2rem 1rem 2rem;
}
